<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Roll01.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,176},{69,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,111}}</string>
				<key>sourceSize</key>
				<string>{69,111}</string>
			</dict>

			<key>Roll02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{126,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,118}}</string>
				<key>sourceSize</key>
				<string>{126,118}</string>
			</dict>

			<key>Roll03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{116,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,104}}</string>
				<key>sourceSize</key>
				<string>{116,104}</string>
			</dict>

			<key>Roll04.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,191},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,101}}</string>
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>

			<key>Roll05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,399},{115,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,83}}</string>
				<key>sourceSize</key>
				<string>{115,83}</string>
			</dict>

			<key>Slide01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{128,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,71}}</string>
				<key>sourceSize</key>
				<string>{128,71}</string>
			</dict>

			<key>Slide02.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,691},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,90}}</string>
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>

			<key>run01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{112,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{112,103}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run02.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,788},{112,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{112,102}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run03.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,891},{111,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{111,103}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run04.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,72},{107,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1},{107,103}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run05.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,294},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,0},{107,99}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{117,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{117,102}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,483},{114,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{114,103}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,587},{114,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{114,101}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run09.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,587},{111,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{111,103}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run10.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,483},{111,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,1},{111,103}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,689},{113,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{113,98}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

			<key>run12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,892},{112,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{112,100}}</string>
				<key>sourceSize</key>
				<string>{123,105}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>Animation.png</string>
			</dict>
		</dict>
</plist>